{% extends 'base.html' %}

{% block title %}Form{% endblock %}

{% block content %}
<div class="mx-auto" style="width: 200px;">
    <h1> Medical Records</h1>
    <h2>Fill out Form</h2>
<form action="/records" method="POST">
    Patient I.D.:<input type="text" name="pid" required><br>
    Last Checkup:<input type="text" name="check" required><br>
    Complaint/s:<input type="text" name="complaint" required><br>
    Diagnosis:<input type="text" name="dx" required><br>
    Treatment:<input type=text" name="tx" required><br>
    <input type="submit" value="submit!">
 </form>
</div>
{% endblock %}